* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 30px;
    margin-right: 8px;
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f3940f;
  }
  
  .create-btn {
    background-color: rgb(63, 178, 210);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .create-btn:hover {
    background-color: #4fe9fa;
  }
  .hero .hero-head{
    
    margin: 100px;
    margin-top: 130px;
    font-size: 44px;
    display: flex;
    flex-wrap: wrap;
    font-family: HK Grotesk, Avenir, Montserrat, Corbel, source-sans-pro, system-ui, -apple-system, sans-serif;
    font-weight: bolder;
  }

  .sub-head{
    font-size: 22px;
    margin-left: 100px;
    margin-top: -90px;
    font-weight: light;
    font-family: HK Grotesk, Avenir, Montserrat, Corbel, source-sans-pro, system-ui, -apple-system, sans-serif;;
  }

  .para-body{
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: lighter;
    font-family: HK Grotesk, Avenir, Montserrat, Corbel, source-sans-pro, system-ui, -apple-system, sans-serif;;
    display: inline-block;
  }

  .create-resume-btn {
    background-color:  rgb(63, 178, 210);
    color: white;
    border: none;
    padding: 20px 56px 18px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
  }

  .create-resume-btn:hover {
    background-color: #4fe9fa;
  }

  .resume-img{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    max-width: 690px;
    margin-left: 800px;
    margin-top: -370px;
    flex-wrap: wrap;

  }

  .hero{
    max-width: fit-content;
  
  }

 
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    
  }
  